<!DOCTYPE html>
<html lang="it" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

    <title>BoolFlix</title>
  </head>
  <body>

    <main id="app">
      <nav>
        <a href="">BoolFlix</a>
        <label for="search">Cerca per titolo: </label>
        <input type="text" name="search" value="" v-model="searchText" @keyup.enter="search">
        <button type="button" name="button" @click="search">Cerca</button>
      </nav>

      <section class="cards">
        <p id="empty">{{ empty }}</p>

        <h2>{{ title1 }}</h2>
        <section>
          <div class="card" v-for="(element, index) in films">
            <img :src="element.poster_path" alt="">
            <div class="info">
              <p>Titolo: {{ element.title }}</p>
              <p>Titolo Originale: {{ element.original_title}}</p>
              <p>Lingua: {{ element.original_language }}</p>
              <p>Voto: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> {{ element.vote_average }}</p>
              <p>Descrizione: {{ element.overview }}</p>
              <div class="cast-names">
                <p>Cast: </p>
                <p v-for="elemento in element.cast">{{  elemento.name }},</p>
              </div>
            </div>
          </div>
        </section>

        <div class="page" v-if="films.length > 0">
          <button type="button" name="button" @click="back('page1')">Back Page</button>
          <button class="numbers" type="button" name="button" @click="page('page1' ,1)" v-if="maxPage1 >= 1">1</button>
          <button class="numbers" type="button" name="button" v-for="element in arrMaxPage1" @click="page('page1', element)">{{ element }}</button>
          <button class="numbers" type="button" name="button" @click="page('page1', maxPage1)" v-if="max1 < maxPage1">{{ maxPage1 }}</button>
          <button type="button" name="button" @click="next('page1', maxPage1)">Next Page</button>
        </div>

        <h2>{{ title2 }}</h2>
        <section>
          <div class="card" v-for="element in series">
            <img :src="element.poster_path" alt="">
            <div class="info">
              <p>Titolo: {{ element.name }} {{ element.title }}</p>
              <p>Titolo Originale: {{ element.original_name }}</p>
              <p>Lingua: {{ element.original_language }}</p>
              <p>Voto: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> {{ element.vote_average }}</p>
              <p>Descrizione: {{ element.overview }}</p>
              <div class="cast-names">
                <p>Cast: </p>
                <p v-for="elemento in element.cast">{{  elemento.name }},</p>
              </div>
            </div>
          </div>
        </section>

        <div class="page" v-if="series.length > 0">
          <button type="button" name="button" @click="back('page2')">Back Page</button>
          <button class="numbers" type="button" name="button" @click="page('page2', 1)" v-if="maxPage2 >= 1">1</button>
          <button class="numbers" type="button" name="button" v-for="element in arrMaxPage2" @click="page('page2', element)">{{ element }}</button>
          <button class="numbers" type="button" name="button" @click="page('page2', maxPage2)" v-if="max2 < maxPage2">{{ maxPage2 }}</button>
          <button type="button" name="button" @click="next('page2', maxPage2)">Next Page</button>
        </div>

      </section>

    </main>

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
